body {
    --mdc-theme-primary: white;
    --mdc-theme-secondary: white;
    --mdc-theme-background: rgb(160, 38, 38);
    --mdc-theme-surface: white;
    --mdc-theme-on-primary: white;
    --mdc-theme-on-secondary: white;
    --mdc-theme-on-surface: white;
}

canvas {
    background-color: #F5F5DC;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

label {
    font-size: 20px;
} 

.leftBottomBox {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.settingBox {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: block;
    width: 260px;
}

.colorBox {
    display: flex;
}

.colorPalette{
    width: 200px;
    height: 60px;
    display: flex;
}

.colorPaletteComponent{
    height: 60px;
    width: 40px;
}

.mdc-radio {
    margin-top: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}